$background-headerfooter: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
$color-primario: red;
$color-secundario: white;
$color-negro: black;
$btn-dark: rgba(0, 0, 0, 0.5);
$btn-hover: rgba(100, 148, 237, 0.5);
$color-icon: rgba(255, 255, 255, 0.7);