.portada {
    background-image: url(../assets/img/fondotexturado.png);
    background-position: center;
    background-size: cover;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}